<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center">
            <div id="placeOrder">
                <h2>Order your Sandwich HERE!!</h2>
                 
                    <form id="createSand" class="button-size" action="/sandwich" method="POST">
                        <textarea id="order" type="text" name="sandwich_name" ></textarea><br>
                        <button id="submitSand" class="btn btn-lg btn-primary" type="submit">Place Order</button>
                    </form>
            </div>
        </div>
    </div>

    <div id="orderInfo" class="row">
        <div class="col-md-6">
            <div id="sandOrdered">
                <h2>Sandwiches Ordered</h2>
                    <table class="table">
                        {{#each burgers}}
                        {{#unless this.devoured}}
                        <tr>
                            <td>{{this.burger_name}}</td>
                            <td class="text-right">
                                <form action="/sandwich/{{this.id}}?_method=PUT" method="POST">
                                    <button type="submit" class="btn btn-danger" id="eatme">Devour this Burger!!</button>
                                </form>        
                            </td>
                        </tr>
                        {{/unless}}
                        {{/each}}
                    </table>
            </div>
        </div>
        <div class="col-md-6">
            <div id="sandConsumed">
                <h2>Sandwiches Consumed</h2>
                    <table class="table">
                        {{#each burgers}}
                        {{#if this.devoured}}
                        <tr>
                            <td>{{this.burger_name}}</td>   
                        </tr>
                        {{/if}}
                        {{/each}}
                    </table>
            </div>
        </div>
    </div>
</div>

