/* body {
    margin: 20px;
    border: 2px solid red;
} */

.jumbotron {
    margin: 40px;
    border: 10px solid yellow;
    border-radius: 25px;
    background-color: red;
    box-shadow: 5px 5px 5px grey;
    text-align: center;
}

.jumbotron h1 {
    color: white;
    text-shadow: 3px 3px 3px gray;
}

.row {
    margin: 0px;
}

#placeOrder {
    background-color: rgba(253,0,22,0.7);
    border: 4px solid yellow;
    border-radius: 15px;
    margin: 0px 20px 0px 20px;
    padding:30px; 
}

#placeOrder h2{
    color: white;
    text-shadow: 2px 2px 2px black;
}
#order {
    border: 4px solid yellow;
    border-radius: 10px;
    height: 60px;
    width:50%;
}

#sandOrdered {
    border: 4px solid yellow;
    border-radius: 15px;
    margin: 40px 20px 0px 20px;
    padding:30px;
}

#sandConsumed {
    border: 4px solid yellow;
    border-radius: 15px;
    margin: 40px 20px 0px 20px;
    padding:30px;
}

#orderInfo {
    margin-bottom: 40px;
}

#submitSand {
    margin-top: 20px;
}